body { padding-top: 70px; }

/** Scaffold View **/
dl {
	line-height: 3em;
	margin: 0;
	width: 100%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: white;
}

dt {
	font-weight: bold;
	padding-left: 0px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 0em;
	margin-top: 0em;
	vertical-align: middle;
}
