/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 sept. 2014, 14:55:39
    Author     : cyril
*/
html { height: 100%; }
body{ position: relative; background-color:#44494f; height:100%;}

body > .content-wrap{ width:100%;color: #fdfdfd;min-height:100%; height: auto !important;height:100%; margin-bottom: -60px;}
header{margin-bottom: 40px;}
footer, .push{width: 100%;height: 60px;}
.footer-left{float:left;width:33%;margin-left:15px;margin-top: 20px;}
.footer-center{float:left;width:33%;margin-top: 20px;}
.footer-right{float:left;width:31%;margin-top: 20px;}


/**CLASSES**//*colors --> black: #44494f --> green: #14e985 --> white:#fdfdfd*/
.bottom-10{margin-bottom: 10px}
.bottom-20{margin-bottom: 20px}
.bottom-30{margin-bottom: 30px}
.bottom-40{margin-bottom: 40px}
.bottom-50{margin-bottom: 50px}
.clear{clear:both;}
.align-center{text-align: center;}
.align-left{text-align: left;}
.align-right{text-align: right;}
.pad-box{padding:15px;padding-top:45px;}

.menutxt{padding-right: 65px;margin-top: 5px;text-align:right;}




h1{font-size: 32px;}
h1, h2, h3, h4, h5{font-family: 'Ubuntu', sans-serif;text-transform: uppercase;margin-top: 0;color: #fdfdfd;}
a{ color: #fdfdfd;font-weight:300;letter-spacing: 1px;}
a h3{color: #44494f;}
a:hover{ color: #fdfdfd;}
p{font-size:14px;color: #fdfdfd;font-weight:100;letter-spacing:1px;}
.fa{color: #fdfdfd;}
label{color: #fdfdfd;font-weight:200;}

.light{font-weight:100;letter-spacing: 1px;}

.yellow{ color:#eaff55;}
.green{color: #14e985;}
.back-color{background: #44494f; }


@media (max-width: 767px) {      
    h1, h2, h3, h4, h5{font-size:14px;}
    .light{font-weight:200;} 
    
    .footer-left{float:left;width:45%;margin-left:15px;margin-top: 20px;}
    .footer-center{float:left;width:0%;margin-top: 20px;}
    .footer-right{float:left;width:45%;margin-top: 20px;}
}


.btn{
    border-radius:0px;
        font-family: 'Ubuntu', sans-serif;
    text-transform:uppercase;
}
.btn-success {
        color: #44494f;
        background-color: #14e985;
        border-color: #14e985;
}

.btn-success:hover{
        background-color: #14e985;
}

.info-question{
        text-align: right;
        font-size: 1.2em;
        color:  #1f98a1;
}
.btn-group{margin-top: 0.5em;}

.progress-bar {background-color: #14e985;color:#44494f;}

.thumbnail{padding:15px;border-radius:0px;}

.thumbnail h1,.thumbnail h2,.thumbnail h3 ,.thumbnail h4,.thumbnail h5,.thumbnail p, .thumbnail label{color:#44494f;}
.thumbnail h3{margin-top:15px;}

.datetime label,
.time label,
.date label { display: block; }
.datetime select.form-control,
.time select.form-control,
.date select.form-control { width:auto; display:inline-block;}


form .error, form .error-message {color: #b94a48;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;text-shadow: none;}
form .error-message {-moz-border-radius: none;-webkit-border-radius: none;border-radius: none;background-color: #f2dede;border-color: #ebccd1;margin: 0;padding: 0.3em;}

form .error {background-color: #f2dede;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;font-weight: normal; padding: 0.3em; margin-bottom: 1em;}

.alert-custom {font-weight: bold;z-index: 1000;position:absolute;}

.next{
    background-color: #888;
    border: 0px;
}

.next:hover{
    background-color: #fdfdfd;
}

.next .ov{
    display:none;
}

.next:hover .ov{
    display:block;
}

.next:hover .no{
    display:none;
}

@media (max-width: 768px){
        img#logo{width:100px;}

        h1{font-size: 2em;}

       .carousel-caption-new h1{
                color:white;
                line-height:1.3em;
                font-size: 1em;
        }

}

#myCarousel .slider{
        margin-bottom:0px;
        margin-top: 0px;
        height:100%;
}

/*.carousel-caption-new {
        position:absolute;
        z-index:1000000;
        background-image: url('../img/background/back_carousel_caption.png');
        background-repeat: repeat;
        width: 30%;
        height:100%;
        max-width: 450px;
        left: -30%;
        top: 0;
        position: absolute;
        text-align: center;
        padding:3em;
}*/

@media (max-width: 767px) { 
    
   body > .content-wrap{
        padding: 0px  0;}
    
    .carousel-caption-new {
        background-image: url('../img/background/back_carousel_caption.png');
        background-repeat: repeat;
        width: 100%;
        height:28%;
        max-height: 350px;
        left: 0;
        bottom: 0;
        position: absolute;
        text-align: center;
        padding:3em;
}
}

.carousel-inner{
        // max-height: 600px;
        height: 100%;
}

.carousel-caption-new h1{
        color:white;
        line-height:1.3em;
}

.carousel-inner > .item {
        -webkit-transition: 0.6s ease-in-out left;
        -moz-transition: 0.6s ease-in-out left;
        -o-transition: 0.6s ease-in-out left;
        transition: 0.6s ease-in-out left;
}



.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
left: 25px;color:#14e985;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
right: 25px;color:#14e985;
}



.cmn-t-pulse {

}

@keyframes pulse {
        0% {
                transform: scale(1);
        }
        50% {
                transform: scale(1.1);
        }

        100% {
                transform: scale(1);
        }
}

@-webkit-keyframes pulse {
        0% {
                transform: scale(1);
        }
        50% {
                transform: scale(1.1);
        }

        100% {
                transform: scale(1);
        }
}


.customer_voucher{
        font-family: 'Ubuntu', sans-serif;
        text-transform: uppercase;
        background: #14e985;
        padding: 0.6em;
        color: #44494f;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: center;
}
.thumbnail .fa{
    float:left;
}
.title-vouch{
    padding-left:8px; 
    float:left;
}
/* keep full widget on smaller screens */
@media (max-width: 767px) { 
        body {
                padding-left: 0;
                padding-right: 0;
        }
}

















.navbar-default { border-color: #e7e7e7;}
.navbar-nav>li>a:hover {color: #e7e7e7;}
.navbar-nav>li>a:hover:after {width: 100%;}

.navbar-default{border:0px;}

.navbar-default .navbar-nav>li>a i {text-transform: uppercase;font-weight: 500;color: #44494f;}
.navbar-default .navbar-nav>li>a {color: #44494f;}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #44494f;}
.navbar-default .navbar-toggle {border:0px;margin-top: -30px;}
.navbar-toggle {position:absolute;right:0px;z-index:10;padding: 9px 10px;margin-top: 8px;margin-right: 15px;margin-bottom: 8px;background-color: #44494f;border: 1px solid transparent;border-radius: 4px;}
.navbar-toggle:focus{outline:none;}


.navbar-header {float: none;}
.navbar-toggle {display: block;}
.navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);margin-top:5px  ;}
.navbar-collapse .navbar-nav.navbar-right:last-child { margin-right: 0px;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {float: none!important;margin: 0px 0px;}
.navbar-nav>li {float: none;}
.navbar-nav>li>a {padding-top: 20px;padding-bottom: 20px;}

.navbar-collapse {max-height:8000px;padding-right: 0px; width:250px;float:right;padding-left:0px;}
.navbar-collapse{padding:0px;}
.nav>li{background-color:#14e985 ;border-bottom:0px solid #fdfdfd ;border-left:0px solid #fdfdfd ;}
.navbar-default .navbar-nav>li>a i {text-transform: uppercase;font-weight: 500;color:#44494f ;}
.navbar-brand {float: none;position: absolute;padding: 15px 15px;font-size: 18px;line-height: 20px;margin: 0 auto;width: 100%;}
.navbar-brand a {float: none;display: table;margin:0 auto;margin-top:-35px;}

.navbar-default .navbar-text {float: none; text-align:left;margin-bottom: 5px; color:#fdfdfd;}   

.navbar{position:relative;background: transparent;}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: transparent;
}
.navbar-brand{background: #44494f;}

.menu-txt{
    padding-right: 60px;
    margin-top: -21px;
}

.margin-contact{
    margin-top:5px;
}

.footer-right a {
    margin-left:5px;
}

.btn{margin-top:4px;}
.annuler{float:left; margin-right: 15px;}

@media (min-width: 767px) and (max-width: 992px) {
    
    .navbar-default .navbar-toggle {
    }
    h3{font-size:16px;}
    .icon img{
        width:80%;
        z-index:12;
    }
}

@media (max-width: 767px) { 
        .navbar{position:relative;background: #44494f;}
        .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
        .navbar-collapse {width:100%;margin-top:50px;}    
        .navbar-brand {float: none;position: absolute;padding: 15px 15px;font-size: 18px;line-height: 20px;margin: 0 auto;width: 100%;}
        .navbar-brand a {float: none;display: table;}
        .navbar-brand a {margin-top:0px;}
        .navbar-default .navbar-toggle {border:0px;margin-top: 10px;}
        .nav>li{border-left:0px ;}
        
        .nav>li{background-color:#14e985 ;border-bottom:1px solid #fdfdfd ;border-left:0px solid #fdfdfd ;}
        
        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border:0px solid #e7e7e7;
        }
}


.gift i, .voucher i, .bigGift i{
        color:black;
}

.gift, .bigGift {
        background: #14e985;
}

.center-block{display:table;margin:0 auto;}

.alert-container{position:relative;}

.custom_message{
        background-color: #363b40;
        border-radius: 0;
        
}

.custom_message img{
        
}



.custom_message_text{height:122px;}

@media (min-width: 767px) and (max-width: 992px) {  

    .custom_message_text{height:86px;}
    
}

@media (min-width: 1200px) {

    .custom_message_text{height:154px;}

}

.custom_message_text{display:table; }

.custom_message_text_c{ 
        display:table-cell;
        vertical-align:middle;
       
}

.custom_message_text p{
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
    font-size:1.5em;
}

.glyphicon-chevron-down{
    color:#14e985;
    font-size:1.5em;
}

@media (min-width: 767px) and (max-width: 992px) {
    .custom_message_text p{
        font-size: 1.2em;
    }
}

@media (max-width: 767px) {
    .custom_message_text p{
        font-size: 1em;
        font-style: italic;
        font-weight: bold;
    }
    .glyphicon-chevron-left, .glyphicon-chevron-right{
        font-size:1em;
    }
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
@media (max-width: 767px){
    .col-centered {
    display:block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}


.about h1, .about h2{
        margin-bottom: 1em;
        margin-top: 1em;
}

.people{
        margin-bottom: 2em;
}


.modal{
        color:#44494f;
        font-size: 1.3em;
}

.modal h3{
        color:#44494f;
}

.modal-content{
        border-radius: 0px;
}

.about p{
        font-size: 20px;
}