/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 oct. 2014, 15:30:23
    Author     : cyril
*/


/*colors --> black: #44494f --> green: #14e985 --> white:#fdfdfd*/

 
.radio label , .checkbox label{  
        font-family: 'Ubuntu', sans-serif;
        text-transform:uppercase;
        display: inline-block;  
        text-align: center;
        padding:15px;
        width:100%;
        min-height:70px;
        line-height:70px; 
        background-color:#fdfdfd;
        cursor: pointer;  
        position: relative;    
        font-size: 14px;  
        color:#44494f;
        margin-bottom:25px;
        
}  

.radio, .checkbox{
    overflow:hidden;
}

.radio input, .checkbox input{
        position:absolute;
        left:-3000px;
}


.center-text{
    vertical-align:middle;
    display:inline-block;
    line-height:normal; 
}

.radio, .checkbox{
    width:100%;
    padding-left:0px;
}

.submit{
    text-align:center;

}

.limg label{
    min-height:0px;
    line-height:0px;
    padding:5px;
    background:#fdfdfd;
}




label:before {  
       
}  

.radio label:before {  
        border-radius: 8px;  
}  

input[type=radio]:checked + label {  
       background-color:#14e985;  
       color:#44494f;
}  

input[type=checkbox]:checked + label {  
        background-color:#14e985;  
       color:#44494f; 
}  

.progress{
       border-radius:0px;
}

@media (min-width: 767px) and (max-width: 992px) {
    .radio label , .checkbox label{  
        font-size:12px;
    }
}

@media (max-width:767px){
    img.question_media{width:100%;}
}