html { height: 100%; width:100%;padding:0; margin:0;}
body{color:#fff; width:100%;height:100%;padding:0; margin:0;}

body > .content-wrap{
        width:100%;
        height:100%;
}

footer{position:absolute;z-index:5;width:100%;bottom:0px;left:0px;background:transparent;}


.home-layer{position: absolute; top:0; left:0;width:100%;height:100%;overflow:hidden;}
.home-prince{display: table;position:absolute;z-index:2;top:0px;width:100%;height:100%;}

footer{position:absolute;z-index:5;width:100%;bottom:0px;left:0px;background:transparent;}

.home-prince-block{ display:table-cell;vertical-align:middle;}
.home-prince-block-title{margin:0 auto;width:400px;}

.home-play{display: table;position:absolute;z-index:3;width:100%;height:100%;background-color:#44494f;-webkit-box-shadow: 0px -2px 9px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:    0px -2px 9px 0px rgba(50, 50, 50, 0.75);box-shadow:         0px -2px 9px 0px rgba(50, 50, 50, 0.75);}

.home-play-aside{position:relative;float: left; width:20%; height:100%;background:transparent; }
.home-play-aside-cont{margin-top: 150px;text-align: center;}
.home-play-aside-cont h1{font-size:28px;}
.home-play-aside-cont .fa{color:white;}
.home-play-gallery{position:relative;float:right; width:80%;height:100%}

.item img{height:100%;width:auto;}


.navbar-default { border-color: #e7e7e7;}
.navbar-nav>li>a:hover {color: #e7e7e7;}
.navbar-nav>li>a:hover:after {width: 100%;}
.navbar{background-color:transparent;}
.navbar-default{border:0px;}

.navbar-default .navbar-nav>li>a i {text-transform: uppercase;font-weight: 500;color: #44494f;}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #44494f;}
.navbar-default .navbar-toggle {border:0px;}
.navbar-toggle {position:absolute;right:0px;z-index:10;padding: 9px 10px;margin-top: 8px;margin-right: 15px;margin-bottom: 8px;background-color: #44494f;border: 1px solid transparent;border-radius: 0px;}

.navbar-header {float: none;}
.navbar-toggle {display: block;}
.navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
.navbar-collapse .navbar-nav.navbar-right:last-child { margin-right: 0px;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {float: none!important;margin: 0px 0px;}
.navbar-nav>li {float: none;}
.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}

.navbar-collapse {max-height:8000px;padding-right: 0px;margin-top: 10px; width:250px;float:right;padding-left:0px;}
.navbar-collapse{padding:0px;}
.nav>li{background-color:#14e985 ;border-bottom:0px solid #fdfdfd ;border-left:0px solid #fdfdfd ;}
.navbar-default .navbar-nav>li>a i {text-transform: uppercase;font-weight: 500;color:#44494f ;}

.navbar-brand {float: none;position: absolute;padding: 15px 15px;font-size: 18px;line-height: 20px;margin: 0 auto;width: 100%;}
.navbar-brand img {float: none;margin: 0 auto;display: table;margin-top: -30px;}
.navbar{position:relative;background-color:transparent;}

@media (max-width: 767px) { 
        .navbar{background-color:transparent;}
        .navbar-collapse {width:100%;}    
        .nav>li{border-left:0px ;}   
        .navbar-collapse {margin-top: 50px;}
}


.home-info{display: table;width:100%;height:100%;}
.info-mobile{width:100%;height:100%;}
.info-desktop{display:table-cell!important;vertical-align:middle;}


.go-play-m{position: absolute; z-index:10;bottom:0;left:0;width:100%;text-align: center; cursor:pointer;}
.go-play-d{ z-index:15; display:table-cell!important; vertical-align:middle; right:0; width:29px;cursor:pointer;}
.go-play-d img{}
.go-replay{margin:0 auto;cursor:pointer;text-align: center;}
.go-info h5{width:100px;margin:0 auto;margin-top: 15px;padding-top: 4px;padding-bottom: 4px;text-align: center; text-transform: uppercase;color:#44494f;background-color:#14e985;cursor:pointer;}

.play-button { width:100px;margin: 0 auto;padding-top: 9px;padding-bottom: 9px; background-color: #fdfdfd;}
.play-button a{color:#44494f; text-transform: uppercase;}
.play-button a:hover{text-decoration: none;}

.play-buttonG{width:100px;margin: 0 auto;padding-top: 9px;padding-bottom: 9px; background-color: #fdfdfd;}
.play-buttonG a{color:#44494f; text-transform: uppercase;}
.play-buttonG a:hover{text-decoration: none;}

.marketing{margin-top:10px;}




.carousel-indicators-2 {
    height: 20px;
    text-align: center;
    list-style: none;
}

.carousel-indicators-2 .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #14e985;
}

.carousel-indicators-2{
    padding-left:0px;
}

.carousel-indicators-2 li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fdfdfd;
    border-radius: 10px;
}

.carousel-indicators .active {
    background-color: #14e985;
    border:0px;
}

.carousel-indicators li {
    border:1px #14e985 solid;
 
}


.custom_message{
        position:absolute;
        z-index:20;
        
}



@media (max-width: 767px) { 
    
    header{position: absolute; z-index:9; top:0px; left:0px; width:100%;}
    .go-play-d{display:none!important;}
    
    .home-prince-block-title{margin:0 auto;width:300px;}
    .home-play-aside{float:none;width:100%;height:50%;}
    .home-play-aside-cont{margin-top: 0px;text-align: center;}
    .home-play-aside-cont h1{font-size:14px;}
    .home-play-gallery{position:relative;float:none; width:100%;height:50%}
    .navbar-brand img {margin-top:0px;}
    
    #info-1, #info-2, #info-3, #info-4{position:absolute;display:table;width:100%; height:100%;background: #44494f;}
    #info-1{z-index:5;left:0;}
    #info-2{z-index:6;}
    #info-3{z-index:7;}
    #info-4{z-index:8;}
    .feature-box{display:table-cell;width:100%;margin:0 auto;vertical-align:middle;text-align: center;}
    .box-cont{width:200px;margin:0 auto;}
    
}